/* .left-col{
    
}
.right-col{
  
} */
.left-col a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: end;
   text-decoration: underline;
    border-radius: 15px;
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}